.works-project-info {
    height: 100%;
    overflow-y: auto;
    padding: 12px;
    margin: 0;
    padding-bottom: 64px;
}

input,
select {
    text-align: left !important;
}

input.w-1,
select.w-1 {
    min-width: 60px;
}

input.w-2,
select.w-2 {
    min-width: 120px;
}

.form-select-flush {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.floating-btn {
    position: absolute;
    bottom: 32px;
    right: 32px;

    .btn {
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 50%;
        font-size: 20px;
    }
}
