.view-container {

    &.embeded {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .view-main,
        .view-body,
        .view-content {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .view-content {
            display: flex;
            flex-direction: column;

            .issue-container {
                flex: 1;
            }
        }

        .modal-header {
            border-bottom: 1px solid var(--wc-border);
        }
    }

    &.wiz-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 12px;
        z-index: 4000;
    }

    @media (max-width: 768px) {
        padding: 0;
    }

    .modal {
        display: contents;
    }

    .modal-dialog {
        width: 80%;
        max-width: 1440px;

        &.is-new {
            max-width: 840px;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
            border-radius: 0;
        }
    }

    .modal-content {
        width: 100%;
        height: 90vh;
        // max-height: 1280px;
        overflow-x: hidden;
        overflow-y: auto;

        @media (max-width: 768px) {
            height: 100vh;
            max-height: 100%;
            border-radius: 0;
        }
    }

    .modal-header {
        input {
            font-size: 16px;
            font-family: 'main-eb';
        }

        .close-btn {
            cursor: pointer;
            font-size: 18px;
        }

        .movable-btn {
            cursor: grab;
        }
    }

    .issue-tabs {
        display: none;

        a.card-btn {
            padding: 6px 12px;
            background: var(--wc-blue-light);
            color: var(--wc-blue);
            cursor: pointer;
            border-top: none;
            border-bottom: 1px solid var(--wc-border);

            &:hover {
                background: var(--wc-blue);
                color: #fff;
            }

            &.active {
                background: var(--wc-blue);
                color: #fff;
            }
        }

        @media (max-width: 768px) {
            display: flex;
        }
    }

    .issue-container {
        flex: auto;
        background-color: var(--wc-blue-light);
        overflow: hidden;
        height: 100%;
    }
}

.dropdown-popup {
    .dropdown-menu {
        display: block;
        margin-top: 8px !important;

        .form-control {
            color: #fff !important;
            text-align: center !important;
        }
    }
}


.issue-info {
    height: 100%;
    border-right: 1px solid var(--wc-border);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;

    @media (max-width: 768px) {
        display: none;

        &.show {
            display: flex;
        }
    }

    .info-options {
        padding: 16px;
        border-bottom: 1px solid var(--wc-border);
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .info-content {
            display: flex;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            .badge {
                display: flex;
                min-width: 90px;
                margin-right: 12px;
                padding-top: 5px;
                padding-bottom: 5px;
                align-items: center;
                height: 24px;
            }

            .info-value {
                display: flex;
                align-items: center;

                .form-selectgroup-label {
                    padding: 4px 6px;
                    font-size: 12px;
                }

                .dropdown {
                    display: inline-block;
                }

                .issue-datepicker {
                    width: 140px;
                }
            }

            .info-todo {
                flex: 1;

                .card {
                    width: 100%;
                    border-radius: 0;
                }

                .d-flex {
                    border-top: 1px solid var(--wc-border);
                    padding-top: 8px;

                    &:first-child {
                        border-top: none;
                        padding-top: 0;
                    }
                }

                .divide-y-2 {
                    i.ti.ti-check.text-muted {
                        cursor: pointer;
                    }

                    >div:last-child {
                        padding-bottom: 8px;
                    }

                    .actions {
                        display: none;
                    }

                    >div:hover {
                        .actions {
                            display: inline-block;

                            .action-btn {
                                margin-left: 4px;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                display: block;

                .badge {
                    margin-bottom: 12px;
                    margin-right: 0;
                    display: inline-block;
                }
            }
        }
    }
}

.issue-message {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    @media (max-width: 768px) {
        display: none;

        &.show {
            display: flex;
        }
    }

    .message-tab {
        display: flex;
        border-bottom: 1px solid var(--wc-border);

        .card-btn {
            cursor: pointer;
            background: var(--wc-blue-light);
            color: var(--wc-blue);
            border-top: none;
            padding: 8px 0;

            &.active {
                background: var(--wc-blue);
                color: #fff;
            }

            &:hover {
                background: var(--wc-blue);
                color: #fff;
            }
        }
    }

    .message-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        .message-list {
            flex: 1;
            overflow: hidden;
            position: relative;

            .message-container {
                padding: 16px;
                height: 100%;
                overflow-y: auto;
            }

            .message-card {
                margin-bottom: 16px;
                border-radius: 24px;
                border-bottom-left-radius: 0;
                width: 70%;

                @media (max-width: 1520px) {
                    width: 80%;
                }

                .card-body {
                    display: flex;

                    .message-icon {
                        width: 56px;
                    }

                    .message-body {
                        flex: 1;

                        .message-header {
                            display: flex;
                            margin-bottom: 4px;

                            .message-title {
                                font-family: 'main-eb';
                            }

                            i {
                                cursor: pointer;

                                &:hover {
                                    color: var(--wc-blue);
                                }
                            }
                        }
                    }
                }
            }

            .message-context {
                display: flex;
                align-items: end;
                position: relative;

                .avatar {
                    margin-bottom: 12px;
                }

                &.its-me {
                    justify-content: end;

                    .message-card {
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 24px;
                    }
                }

                &.reply-target {
                    .card {
                        border: 2px solid var(--wc-blue);
                    }
                }
            }

            .message-body {
                width: 100%;
            }

            .message-text {
                word-break: break-all;
                width: 100%;
                position: relative;
            }
        }

        .message-input {
            border-top: 1px solid var(--wc-border);
            min-height: 180px;
            background-color: #fff;

            .btn {
                padding: 2px 8px;
            }
        }
    }
}

.alert-new-message {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 8px;
    text-align: center;
    border-radius: 12px;
    background: rgba(101, 109, 119, 0.16);
    position: absolute;
    left: 10%;
    bottom: 12px;
    z-index: 9999;
    cursor: pointer;
}

.alert-last-message {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 8px;
    text-align: center;
    border-radius: 12px;
    background: rgba(101, 109, 119, 0.16);
}

.message-files {
    margin-bottom: 6px;

    .btn {
        padding: 2px 8px;
        margin-right: 6px;
        margin-top: 4px;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

.message-file-container {
    padding: 8px;
    background-color: #fff;
    border-top: 1px solid var(--wc-border);

    .btn {
        margin: 2px 4px;
        padding: 2px 8px;
    }
}

.message-image-container {
    border-top: 1px solid var(--wc-border);
    background: #fff;
}

.image-box {
    background-color: var(--wc-gray-light);
}

.message-img {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:hover {
        border: 4px solid var(--wc-blue);
        cursor: pointer;
    }

    .btn.btn-red.btn-sm {
        position: absolute;
        top: 6px;
        right: 6px;
        padding: 4px 8px;
    }
}

.message-reply {
    display: flex;
    padding: 6px 8px;
    background-color: var(--wc-light);
    color: var(--wc-text);
    align-items: center;

    i {
        cursor: pointer;

        &:hover {
            color: var(--wc-blue);
        }
    }
}