.wiki-tree {
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.wiki-aside-header {
    display: block;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--wc-border);

    .wiki-aside-header-container {
        display: flex;
        padding: 12px 16px;
        text-align: left;
        background-color: var(--wc-blue);

        .avatar-area {
            width: 32px;
            display: flex;
            align-items: center;
        }

        .wiki-title {
            display: flex;
            flex: auto;
            align-items: center;
            width: 230px;
            font-size: 18px;
            font-family: 'main-eb';
            word-break: break-all;
            white-space: break-spaces;
            padding-left: 8px;
        }

        .action {
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;
        }
    }

    .wiki-aside-header-search {
        display: flex;
        padding: 6px 12px;
        background-color: var(--wc-blue-light);
    }
}

.tree-node {
    width: 100%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i.tree-icon.fa-solid,
    i.tree-icon.fa-regular {
        font-size: 12px;
    }

    .tree-node-title {
        flex: auto;
        overflow: hidden;
        white-space: nowrap;
    }

    .form-control {
        height: 20px !important;
        font-size: 12px;
        border-radius: 4px;
        text-align: left;
    }

    i.icon-action-always {
        margin-left: 6px;
        color: var(--wc-blue);
    }

    i.icon-action {
        display: none;
        margin-left: 6px;
    }

    &.active {
        color: var(--wc-blue);
        background: var(--wc-blue-light);
    }

    &:hover {
        color: var(--wc-blue);
        background: var(--wc-blue-light);

        i.icon-action {
            display: inline-block;
            color: var(--wc-gray);

            &:hover {
                color: var(--wc-blue);
            }
        }
    }
}

.tree-root {
    padding-left: 16px;
}

.tree-icon {
    width: 20px;
    text-align: center;
}

a.card-btn {
    padding: 6px 12px;
    background: var(--wc-blue-light);
    color: var(--wc-blue);
    cursor: pointer;

    &:hover {
        background: var(--wc-blue);
        color: #fff;
    }
}